<h1 id="titleEditBug">Editing Bug</h1>

<%= render 'form', bug: @bug %>

<%= link_to 'Show', @bug, :class=>"btn btn-info", :id=>"marginLeft" %> |
<%= link_to 'Back', bugs_path, :class=>"btn btn-warning", :id=>"marginLeft" %>
